.outer-div {
    margin: 0px;
    padding: 0px;
    background-color: red;
    background-image: none;
    overflow: hidden;
}

.menu-outer-div {
    height: 100vh;
    background-color: rgb(64, 71, 85) !important;
    color: white;
    margin-top: 30px;
    height: 100vh;
    position: relative;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-outer {
    padding: 0px !important;
    width: 100%;
    margin: 0px !important;
    height: 5%;
    /* background-color: rgb(28, 193, 222); */
    /* background-color: rgb(25, 29, 34); */
    background-color: rgb(46, 49, 56) !important;
    position: relative;
}

.menu-list {
    margin-top: 20px;
}

.menu-list:hover {
    opacity: .5;
    cursor: pointer;
}

.selected-div {
    background-color: rgb(86, 92, 104) !important;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    width: 80%;
    box-sizing: border-box;
}